<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alquileres</title>
</head>
<body>
    <nav>
        <a href="/alquileres">Alquileres</a> |
        <a href="/vehiculos">Vehículos</a> |
        <a href="/clientes">Clientes</a>
    </nav>
    <h1>Lista de Alquileres</h1>
    
    <a href="/alquileres/nuevo">Nuevo Alquiler</a>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Vehículo</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Costo Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="alquiler : ${alquileres}">
                <td th:text="${alquiler.id}"></td>
                <td th:text="${alquiler.cliente.nombre}"></td>
                <td th:text="${alquiler.vehiculo.modelo}"></td>
                <td th:text="${#temporals.format(alquiler.fechaInicio, 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(alquiler.fechaFin, 'dd-MM-yyyy')}"></td>
                <td th:text="${alquiler.costoTotal}"></td>
                <td>
                    <a th:href="@{/alquileres/eliminar/{id}(id=${alquiler.id})}"><button>Eliminar</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
